{% extends "registration/base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{%static 'update1.css' %}">

<div class="b">
    <label><b>Group Name</b></label>
    <div class="boxe">
        <label><b>{{gname}}</b></label>
    </div>
    <label><b>Amount</b></label>
    <div class="boxe">
        <label><b>{{amount}}</b></label>
    </div>
    <form action="payment1" method="post">
        {% csrf_token %}

    <div>
    <button type="submit" class="button" name="gname" value="{{gname}}">Pay</button>
    </div>
    </form>
</div>

{% endblock %}